* {
    margin: 0px 30px;
    padding: 0;
}

.banner {
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    /* width: 1320px; */
    text-align: center;
    color: white;
    margin: 30px 0px 70px;
}

.banner-title {
    padding: 180px 0px;
    font-size: 40px;
    color: whitesmoke;
}

main {
    margin: 0;
}

.deals {
    text-align: center;
}

.deals h1 {
    font-size: 70px;
    color: red;
    padding-bottom: 15px;
}

.deals p {
    font-size: 18px;
    color: red;
    padding-bottom: 20px;
}

.deals h2 {
    font-size: 35px;
    padding-bottom: 40px;
}

.party {
    background-image: url(../resources/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    color: white;
    margin: 70px 0px 70px;
    padding-top: 70px;
}

.year-image {
    padding-right: 50px;
}

.party h1 {
    font-size: 70px;
    padding-top: 100px;
}

.party p {
    padding: 30px 0px;
}

.party button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    padding-left: 40px;
    cursor: pointer;
}

.details {
    background-color: rgb(248, 237, 250);
    margin: 0;
    height: 480px;
    border-radius: 5px;
    text-align: center;
}

.details-container {
    padding-top: 125px;
}

.details-container p {
    font-size: 25px;
    font-weight: 600;
    padding: 6px;
}

.text-color {
    color: red;
    margin: 0;
}

.details-container button {
    color: white;
    font-size: 25px;
    font-weight: 700;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 30px;
    padding: 6px 20px;
    cursor: pointer;
}